
body{
    margin: 0;
    
}

.logo{
    display: none;
}

header {
    background: rgb(117, 113, 148) url('https://source.unsplash.com/1600x900/?cleaning') no-repeat;
    background-size: cover;
    background-position: center;
    height: 15em;
    /* text-align: center; */
}

header nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 255, 0.425);
}

header h1{
    color: white;
    text-shadow: 0.05em 0.05em black;
    text-align: center;
}

header ul{
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 50%;
}

header ul li{
   
    list-style: none;
    margin: 0.25em 0;
    padding: 0;
    text-align: center;
    
}

header ul li a{
    color: white;
    border: none;
    text-decoration: none;
    margin: 0;
    padding: 0.5em 0em;
    width: 100%;
    display: inline-block;
}

header ul li a:hover{
    background-color: rgba(255, 255, 255, 0.541);
}

header ul li a:active {
    background-color: rgba(255, 0, 0, 0.541);
}

footer p {
    margin: 0;
    padding: 0;
}


.blog-post{
    display: flex;
    flex-direction: column;
    border: darkblue solid;
    margin: 1em 0;
}

.thumbnail{
    width: auto;
    border: darkgreen solid;
}

.thumbnail img{
    width: 100%;
    /* height: 100%; */
}

.content {
    background-color: darkseagreen;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */


@media only screen and (min-width: 40em) {

    .logo{
        display: inline;
    }

    header ul{
        margin: 0;
        flex-direction: row;
        justify-content: space-between;
        width: 25em;
    }

    header ul li{
        margin: 0;
        margin-right: 1em;
        
        /* flex-grow: 1; */
        /* width: 100%; */
        /* display: block; */
    }

    header ul li a{

        padding: 0.5em 0.5em ;
        display: inline-block;
    }

    .container {
        width: 70%;
        margin: 0 auto;
    }


    .blog-post{
        flex-direction: row;
    }
    
    .thumbnail{
        width: 30%;
        /* min-width: 10em; */
    }
    
    .thumbnail img{
        width: 100%;
        vertical-align: middle;
        /* height: 100%; */
    }
    
    .content {
        width: auto;
        padding: 0 1em;
    }
    
   

    footer{
        background-color: coral;
        /* text-align: center; */
        padding: 1em;
        display: flex;
    }

    .legal{
        /* border: solid; */
        flex-grow: 1;
        text-align: center;
    }

    .social{
        /* border: solid white; */
        /* flex-grow: 5; */
    }
}